#profile{
    width: 50%;
    height: 50%;
    align-self: center;
}
body{
    background-color: #233A44;
}
.card{
    margin: 10px;
}
#linkedinlogo{
    max-width: 10%;
    max-height: 10%;
}
#follow{
    color: white;
}