#mainheader > h1{
    color: greenyellow;
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
}
#mainheader h1 span{
    color: aquamarine;
    text-align: center;
    font-size: medium;
}
body{
    background-color: #ffa69e;
}
.card{
    margin:10px;
}
.card-img-top{
    max-width: 40%;
    max-width: 40%;
    align-self: center;
}