#mainheader > h1{
    color: greenyellow;
    text-align: center;
    font-family: 'Courier New', Courier, monospace ;
}
#mainheader h1 span{
    color: aquamarine;
    text-align: center;
    font-size: medium;
}
